body {
  margin: 0;
  background: #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2px;
  background-image: url("../images/retro-arcade-neon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}  

.gameboard {
  height: 100vh;
  width: 100vh;    
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
  box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.25);
  border: 5px solid transparent;
  border-radius: 50%;    
 }

.outer-border{
  display: flex;
  align-items: center;    
  justify-content: center;
  height: 75vh;
  width: 75vh;  
  background-image: url("../images/spiral.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #30d8c0;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #9000ff;
}

.violeta.light {
  background: #b75cfd;
}

.naranja {
  background: #f03060;
}

.naranja.light {
  background: #f05b80;
}

.verde {
  background: #30ff00;
}

.verde.light {
  background: #91fb78;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}